.page-wrap {background: #fff; padding-top: 30px; margin-top: 30px; margin-bottom: 30px; -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 20px rgba(0,0,0,0.1); box-shadow: 0 0 20px rgba(0,0,0,0.1);}

/* HEADER TEXT STARTS HERE*/
.intro-slogan {position: relative; font-size: 5em; line-height: 1em; margin-top: 30px; margin-bottom: 60px; margin-left: 30px; padding: 60px; margin-right: -30px; text-transform: uppercase; color: #fff; -webkit-text-shadow: 3px 3px 0 rgba(0,0,0,0.5); -moz-text-shadow: 3px 3px 0 rgba(0,0,0,0.5); text-shadow: 3px 3px 0 rgba(0,0,0,0.5);}
.intro-slogan:after {position: absolute; bottom: -30px; right: 0; content: ""; display: block; width: 0; height: 0; border-right: 30px solid transparent; border-top: 30px solid #753C07;}
/* HEADER TEXT ENDS HERE */

/* VCARD STYLING */
.vcard-wrap {margin-left: 30px; box-shadow: 0px 0px 3px rgba(0,0,0,0.2); background: #eee; margin-bottom: 40px; padding-top: 20px;}
.vcard .vcard-photo {margin: 0 20px; padding: 10px; background: #fff; box-shadow: 0px 0px 3px rgba(0,0,0,0.2);}
.vcard .vcard-photo img {width: 100%;}
.vcard .vcard-bio {padding: 30px; padding-top: 0;}
.vcard .vcard-bio .vcard-name {margin-bottom: 0; text-align: center; margin-top: 20px;}
.vcard .vcard-bio .vcard-info {}
.vcard .vcard-bio i, .vcard .vcard-bio .vcard-info i {margin-right: 10px; width: 10px; text-align: center;}
.vcard code, .vcard small {color: #929292}
.vcard p small {font-style: italic; font-size: 0.8em;}
/* VCARD STYLING ENDS HERE */

/* MAIN CONTENT STARTS HERE */
.main-wrap .section {padding: 0 60px 40px 60px;}
.main-wrap .section h3 {padding-top: 10px !important; position: relative; color: #fff; -webkit-text-shadow: 2px 2px 0 rgba(0,0,0,0.5); -moz-text-shadow: 2px 2px 0 rgba(0,0,0,0.5); text-shadow: 2px 2px 0 rgba(0,0,0,0.5);padding: 5px 0; padding-left: 15px; margin-bottom: 40px; margin-right: -75px;}
.main-wrap .section h3:after {position: absolute; bottom: -15px; right: 0; content: ""; display: block; width: 0; height: 0; border-right: 15px solid transparent; border-top: 15px solid #003063;}
.section-first h3 {margin-top: 0;}
.section-last hr {background: transparent; border: 1px solid #fff;}
.main-wrap .section h3 i {margin-right: 15px; font-size: 0.8em; font-weight: 100;}
.main-wrap .section-education .section-education-list .education-item, .main-wrap .section-work .section-work-list .work-item, .main-wrap .section-projects .section-projects-item {margin-bottom: 40px;font-size: 0.9em;}
.section-work-list h4, .section-education-list h4, .section-portfolio h4 {margin-top: 0;}
.section-work-list h4 i, .section-education-list h4 i, .section-portfolio h4 i {margin-right: 10px;}
.section-work-list h4 small, .section-education-list h4 small, .section-projects-item h4 small, .section-portfolio h4 small {font-style: italic; font-size: 0.6em;}
.main-wrap .section-portfolio .section-portfolio-row-wrap p {font-size: 0.9em;}
.main-wrap .section-portfolio .section-portfolio-row-wrap .portfolio-item-thumbnail {margin-bottom: 20px;}
.main-wrap .section-portfolio .section-portfolio-row-wrap .portfolio-item-thumbnail .portfolio-item-thumbnail-wrap {padding: 10px; background: #fff; -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);box-shadow: 0px 0px 3px rgba(0,0,0,0.2);}
.main-wrap .section-portfolio .section-portfolio-row-wrap .portfolio-item-thumbnail .portfolio-item-thumbnail-wrap img {width: 100%;}
.main-wrap .section-projects .section-projects-item {margin-bottom: 20px; padding-bottom: 20px;}
.main-wrap .section-projects .section-projects-item.last-projects-item {padding-bottom: 0; border-bottom: none;}
.main-wrap .section-projects .section-projects-item .projects-item-thumbnail .projects-item-thumbnail-wrap {padding: 10px; background: #fff; -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.2); box-shadow: 0px 0px 3px rgba(0,0,0,0.2);}
.main-wrap .section-projects .section-projects-item .projects-item-thumbnail .projects-item-thumbnail-wrap img {width: 100%;}
.main-wrap .section-projects .section-projects-item .projects-item-excerpt {}
.main-wrap .section-projects .section-projects-item .projects-item-excerpt h4 {font-size: 1.4em;}
.main-wrap .section-projects .section-projects-item .projects-item-excerpt h4 a {color: #333;}
.main-wrap .section-projects .section-projects-item .projects-item-excerpt .projects-item-meta {margin-bottom: 10px;}
.main-wrap .section-projects .section-projects-item .projects-item-excerpt .projects-item-meta span {font-weight: bold; margin-right: 20px;}
.main-wrap .section-projects .section-projects-item .projects-item-excerpt .projects-item-meta span i{margin-right: 5px;}
.main-wrap .toggleable { display: none;}
.section hr {margin: 40px 0;}
.footer .row {text-align: right; border-top: 1px solid #eee;}
.footer p {margin: 20px 30px; font-style: italic; color: #6c6c6c;}
/* MAIN CONTENT ENDS HERE */

/* media query for mobile devices */
@media (max-width: 767px) { 
	.vcard-wrap {margin-left: 0;}
	.intro-slogan {padding: 30px; margin-left: 20px; margin-right: -10px; font-size: 4em;}
	.intro-slogan:after {position: absolute; bottom: -10px; right: 0; content: ""; display: block; width: 0; height: 0; border-right: 10px solid transparent; border-top: 10px solid #303D36;}
	.main-wrap .section {padding: 0 30px 40px 30px;}
	.main-wrap .section h3 {margin-right: -40px; margin-left: 0; text-align: center;}
	.main-wrap .section h3 i{margin-left: -40px;}
	.main-wrap .section h3:after {position: absolute; bottom: -10px; right: 0; content: ""; display: block; width: 0; height: 0; border-right: 10px solid transparent; border-top: 10px solid #3C3542;}
	
	.main-wrap .section-projects .section-projects-item .projects-item-excerpt h4 {margin: 20px 0;}
}